[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
redis = "==3.5.3"
flask-migrate = "*"
flask-wtf = "*"
black = "==21.7b0"
flask-validator = "==1.4"
loguru = "==0.5.3"
flask-mail = "*"
flask-admin = "==1.5.8"
flask-login = "*"
flask-security = "*"
flask-bootstrap = "==3.3.7.0"

[dev-packages]
selene = "==2.0.0a38"
pytest = "*"

[requires]
python_version = "3.8"
