[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask = "*"
psycopg2-binary = "*"
flask-migrate = "*"
redis = "==3.5.3"

[dev-packages]
pytest = "*"
selene = "==2.0.0a38"
black = "*"

[requires]
python_version = "3.8"
