{% extends 'base.html' %}

{% block title -%}
Video Gallery
{%- endblock %}

{% block body  -%}
<h1 id="gallery-name">Video Gallery</h1>
    <div class="alert alert-info" role="alert">
        Lviv Squash Team!
    </div>
<section class="gallery min-vh-100">
    <div class="container-lg">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/HMP_uKRnERc"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/G3hIexjAb_c"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/JXJkqmvu1BM"
                        title="YouTube video"
                        allowfullscreen>
                        </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/uT4a5nKgZe0"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/rWAilQDBCBg"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/BmJrylS5FVQ"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/cIbKvDsuLLM"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/iwx2xUZWUFU"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
             <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/KoM-9a7ti8E"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/f6ge7wu0jNw"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
             </div>
             <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/ROcyu_egnE0"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
             <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/QGQ4MuQiZWY"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/98qnfusSPKk"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/nPq720tsfZ8"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ratio ratio-16x9">
                    <iframe
                        class="shadow-1-strong rounded"
                        src="https://www.youtube.com/embed/AZ0AqExyOAk"
                        title="YouTube video"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{%- endblock %}
