{% extends 'base.html' %}

{% block title -%}
Products #{{product.id}}
{%- endblock %}

{% block body  -%}
<div class="container">
<h2 id="product-name">{{ product.name_product }}
    {% if product.is_new %}
    <span class="badge bg-warning">New</span>
    {% endif %}
</h2>
<a href="{{ url_for('product_app.product_list') }}" style="text-decoration: none;">Product list</a><hr>

 <div class="cart_section">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-14 offset-lg-0">
                 <div class="cart_container">
                     <div class="cart_title">Shopping Cart<small> (1 item in your cart) </small></div>
                     <div class="cart_items">
                         <ul class="cart_list">
                             <li class="cart_item clearfix">
                                 {% if product.id == 9 %}
                                    <div class="cart_item_image"><img src="{{ url_for('static', filename='img/img_squash/t24.png') }}" width="80" height="80" class="cart-item-image"  alt=""></div>
                                 {% elif product.id == 10 %}
                                    <div class="cart_item_image"><img src="{{ url_for('static', filename='img/img_squash/t23.png') }}" width="80" height="80" class="cart-item-image"  alt=""></div>
                                 {% else %}
                                    <div class="cart_item_image"><img src="{{ url_for('static', filename='img/img_squash/t22.png') }}" width="80" height="80" class="cart-item-image"  alt=""></div>
                                 {% endif %}
                                 <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                     <div class="cart_item_name cart_info_col">
                                          {% for t_shirt in product.t_shirts %}
                                         <div class="cart_item_title">Name</div>
                                         <div class="cart_item_text">{{ t_shirt.name -}}</div>
                                     </div>
                                     <div class="cart_item_color cart_info_col">
                                         <div class="cart_item_title">Color</div>
                                         <select name="color" id="color-select" style="margin-top: 27px;background-color: #d63384;border: solid 1px #fffff;border-radius: 10%;">
                                               <option value="">Select</option>
                                               <option value="color_is">{{ t_shirt.color }}</option>
                                         </select>
                                     </div>
                                       <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">Size</div>

                                           <select name="size" id="size-select" style="margin-top: 27px;background-color: #d63384;border: solid 1px #fffff;border-radius: 10%;">
                                               <option value="">Size</option>
                                               <option value="size_is">{{ t_shirt.size }}</option>
                                            </select>
                                     </div>
                                     <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">Print</div>

                                         <input id="print-value" value="TEAM" data-bs-toggle='tooltip' data-bs-placement='top'
                                                title='If your select of quantity is greater than one, write each print through a comma and highlight the text.'>
                                            <p id="log">You selected:</p>
                                     </div>


                                      <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">Sex</div>
                                         <div class="cart_item_text" id="select-sex">{{ t_shirt.sex }}</div>
                                           {% endfor %}
                                     </div>
                                     <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">Quantity</div>
                                         <input type="number" id="quantity" value="1" name="quantity" min="1" max="5" style="margin-top: 27px;border: solid 2px #fffff;border-radius: 5%;">
                                     </div>
                                     <div class="cart_item_price cart_info_col">
                                         <div class="cart_item_title">Price</div>
                                         <div class="cart_item_text">550</div>
                                     </div>
                                     <div class="cart_item_total cart_info_col">
                                         <div class="cart_item_title">Total</div>
                                         <div class="cart_item_text" id="total-order">550</div>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                     </div>
                     <div class="order_total" style="background: gray;">
                         <div class="order_total_content text-md-right">
                             <div class="order_total_title">Order Total:</div>
                             <div class="order_total_amount" id="total-order2">550</div>
                         </div>
                     </div>
                     <div class="pos-btn">
                         <button type="button">
                             <a href="{{ url_for('product_app.product_list') }}" style="text-decoration: none;">Back</a>
                         </button>
                         <button type="button">
                             <a href="{{ url_for('cart_app.cart_list', product_id=product.id, cart_id=product.id) }}"  style="text-decoration: none;">Add to cart</a>
                         </button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>

<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Our team</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{ url_for('static', filename='img/img_squash/nikita.jpg') }}" class="modal-img" alt="modal img">
      </div>
    </div>
  </div>
</div>

<hr>
{# Admin area #}
    {% if current_user.is_authenticated %}
 <div>
     <button id="delete-product" class="btn btn-danger">Delete</button>
 </div>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript">

const arrPostData = [];

function logSelection(event) {
        const log = document.getElementById('log');
        const selection = event.target.value.substring(event.target.selectionStart, event.target.selectionEnd);
        log.textContent = `You selected: ${selection}`;



    $('#quantity').click(function cartSelection(event) {
        const quantity = document.querySelector('#quantity');
        const textQ = quantity.value;
        console.log(textQ);
        const selCol = document.querySelector('#color-select');
        const textCol = selCol.options[selCol.selectedIndex].text;
        console.log(textCol);

        const sel = document.querySelector('#size-select');
        const text = sel.options[sel.selectedIndex].text;
        console.log(text);
        let totalOrder = document.querySelector('#total-order').textContent;
        if (textQ <= 0) {
            textQ.value = 1;
            } else if (textQ > 5) {
            textQ.value = 5;
            };
        let resTotal = 550 * textQ;
        document.querySelector('#total-order').textContent = resTotal;
        document.querySelector('#total-order2').textContent = resTotal;
        arrPostData.push(resTotal, text, textCol, textQ, log.textContent);
        console.log(arrPostData);
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "http://127.0.0.1:5000/products/9/", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
        xhr.send(arrPostData
            );
    })
}


document.addEventListener('select', logSelection);

</script>
<!--<script>-->

<!--    $(function () {-->
<!--    const name = $('#product-name')-->
<!--    console.log(name.text())-->

<!--    $('#delete-product').click(function () {-->

<!--    $.ajax({-->
<!--        method: 'DELETE',-->
<!--        success: function (res) {-->
<!--            console.log(res)-->
<!--            console.log(res.data)-->
<!--        },-->
<!--        error: function (err) {-->
<!--            console.error(err)-->
<!--            },-->
<!--        complete: function () {-->
<!--            window.location = '{{ url_for('product_app.product_list') }}'-->
<!--        },-->
<!--       })-->
<!--      })-->
<!--    });-->
<!--</script>-->

{%- endblock %}
