{% extends 'base.html' %}

{% block title -%}
Products #{{product_id}}
{%- endblock %}

{% block body  -%}
<h1>Products <code id="product-name">{{ product_name }}</code></h1>
 <style>
   a {
    text-decoration: none;
   }
  </style>
<hr>
<a href="{{ url_for('product_app.product_list') }}">Product list</a>

<hr>
{# Admin area #}
 <div>
     <button id="delete-product" class="btn btn-danger btn-lg">Delete</button>
 </div>
{%- endblock %}
{% block after_body %}
 <script>
    $(function () {
    const name = $('#product-name')
    console.log(name.text())

    $('#delete-product').click(function () {
    console.log("clicked")
      })
    });
</script>
{% endblock %}
