{% extends 'base.html' %}

{% block title -%}
Products #{{product.id}}
{%- endblock %}

{% block body  -%}
<h2 id="product-name">{{ product.name_product }}
    {% if product.is_new %}
    <span class="badge bg-warning">New</span>
    {% endif %}
</h2>
 <style>
   a {
    text-decoration: none;
   }
  </style>
<hr>
<a href="{{ url_for('product_app.product_list') }}">Product list</a>
<hr>
{# Admin area #}
 <div>
     <button id="add-product" class="btn btn-success">
     <a href="{{ url_for('cart_app.cart_list') }}">Add to cart</a>
     </button>
 </div>
 <div>
     <button id="delete-product" class="btn btn-danger">Delete</button>
 </div>
{%- endblock %}
{% block after_body %}
 <script>
    $(function () {
    const name = $('#product-name')
    console.log(name.text())

    $('#delete-product').click(function () {

    $.ajax({
        method: 'DELETE',
        success: function (res) {
            console.log(res)
            console.log(res.data)
        },
        error: function (err) {
            console.error(err)
            },
        complete: function () {
            window.location = '{{ url_for('product_app.product_list') }}'
        },
       })
      })
    });
</script>
{% endblock %}
