{% extends 'base.html' %}

{% block title -%}
Products
{%- endblock %}

{% block body  -%}
<h1>Products list</h1>
    <div class="alert alert-info" role="alert">
        Sorry, this is an imitation of an online store!
    </div>
 <style>
   a {
    text-decoration: none;
   }
  </style>
<div class="row">
    <div class="col col-12 col-md-8 col-lg-6 col-xl-4">
    <ul class="list-group">
        {% for product in products %}
        <div>
            <li class="my product-item list-group-item" >
                <a href="{{ url_for('product_app.product_detail', product_id=product.id) }}">
                    {{ product.name -}}
                </a>
                {% if product.is_new %}
                <span class="badge bg-primary">New</span>
                {% endif %}
            </li>
        </div>
        {% endfor %}
    </ul>
    </div>
</div>
{%- endblock %}
