{% extends 'base.html' %}

{% block title -%}
Register
{%- endblock %}
{% block body  -%}
<form id="reg-form" method="POST">
    {{ form.csrf_token }}
    <label>
    <p class="label-txt">ENTER YOUR EMAIL</p>
          <input type="text" class="input" name="email">
          {% for error in form.email.error %}
            <li style="coloured:red;">{{ error }}</li>
          {% endfor %}
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR NAME</p>
      <input type="text" class="input" name="name">
     {% for error in form.name.error %}
        <li style="coloured:red;">{{ error }}</li>
          {% endfor %}

    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR PASSWORD</p>
      <input type="text" class="input" name="password">
     {% for error in form.password.error %}
        <li style="coloured:red;">{{ error }}</li>
          {% endfor %}
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
    <div class="g-recaptcha" data-sitekey="6Lf0rL8bAAAAACclQV7Ty8PAlzLX1SFSNoeMcgqW"></div>
  <button type="submit">submit</button>
</form>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
  var onloadCallback = function() {
    alert("grecaptcha is ready!");
  };
</script>
<script>
  $(document).ready(function(){

  $('.input').focus(function(){
    $(this).parent().find(".label-txt").addClass('label-active');
  });

  $(".input").focusout(function(){
    if ($(this).val() == '') {
      $(this).parent().find(".label-txt").removeClass('label-active');
    };
  });

});

</script>
{% endblock %}
