{% extends 'base.html' %}

{% block title -%}
{{ _('Support') }}
{%- endblock %}
{% block body -%}
<div class="container">
<form id="reg-form" method="POST">
  <label>
    <p class="label-txt">{{ _('Question? Complaints? Suggestions?') }}</p>
    <input type="text" class="input" name="question">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">{{ _('Email') }}</p>
    <input type="text" class="input" name="email">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">{{ _('The subject of the message') }}</p>
    <input type="text" class="input" name="subject">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">{{ _('The text of the message') }}</p>
    <input type="text" class="input" name="text">
    <div class="line-box">
       <div class="line" id="text-area"></div>
    </div>
  </label>
  <button type="submit">{{ _('SUBMIT') }}</button>

</form>
</div>
<script>
  $(document).ready(function(){

  $('.input').focus(function(){
    $(this).parent().find(".label-txt").addClass('label-active');
  });

  $(".input").focusout(function(){
    if ($(this).val() == '') {
      $(this).parent().find(".label-txt").removeClass('label-active');
    };
  });

});

</script>
{%- endblock %}
