{% extends 'base.html' %}

{% block title -%}
Cart
{%- endblock %}

{% block body  -%}

<div class="container">
<h1 id="gallery-name" xmlns="http://www.w3.org/1999/html">{{ _('Cart') }}</h1>
    <div class="back-list">
        <a id='back-list-id' href="{{ url_for('product_app.product_list') }}" style="color: gray;">{{ _('Product list') }}</a><hr>
    </div>
 <div class="cart_section" style="background: gray; border: solid 3px #b2b2b2; margin-bottom: 25px;">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-10 offset-lg-1">
                 <div class="cart_container">
                     <div class="cart_title">{{ _('Shopping Cart<small> (is empty in your cart)') }} </small></div>
                     <div class="cart_items">
                         <ul class="cart_list">
                             <li class="cart_item clearfix">
                                 <div class="cart_item_image"><img src="{{ url_for('static', filename='img/zero.jpg') }}" alt=""></div>
                                 <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                     <div class="cart_item_name cart_info_col">
                                         <div class="cart_item_title">{{ _('Name') }}</div>
                                         <div class="cart_item_text">None</div>
                                     </div>
                                     <div class="cart_item_color cart_info_col">
                                         <div class="cart_item_title">{{ _('Color') }}</div>
                                         <div class="cart_item_text"><span class="change-color" style="background-color:black;"></span>{{ _('Black') }}</div>
                                     </div>
                                       <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">{{ _('Size') }}</div>

                                         <div class="cart_item_text">None</div>
                                     </div>
                                      <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">{{ _('Sex') }}</div>
                                         <div class="cart_item_text">None</div>

                                     </div>
                                     <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">{{ _('Quantity') }}</div>
                                         <div class="cart_item_text">0</div>
                                     </div>
                                     <div class="cart_item_price cart_info_col">
                                         <div class="cart_item_title">{{ _('Price') }}</div>
                                         <div class="cart_item_text">0</div>
                                     </div>
                                     <div class="cart_item_total cart_info_col">
                                         <div class="cart_item_title">{{ _('Total') }}</div>
                                         <div class="cart_item_text">0</div>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                     </div>
                     <div class="desc-text-tg-tt" style="background: gray; border: solid 3px #b2b2b2;">
                         <div class="desc-text-tg" style="align-text: center;">{{ _('Go to Product list') }}</div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
{%- endblock %}

