
 {% for date in dates %}

<div class="container" style="">
<div class="row"><hr style="height:1px; border:none; color:#000; background-color: white;">
    <div class="col-lg-4">
        <div class="card card-margin" style="box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;">
            <div class="card-header no-border">
                <h5 class="card-title">{{ _('Opponent') }}</h5>
            </div>
                <div class="card-waiting" style="margin-left: auto; padding-right: 30px;" style="font-text: oblique;">The opponents are waiting:
                    <span class="badge rounded-pill bg-info text-dark">{{ date[10] }}</span>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">{{ date[1] }}</span>
                            <span class="widget-49-date-month">{{ date[0] }}</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">{{ date[8] }}</span>

                            <span class="widget-49-meeting-time" style="font-size: 16px; color: #555;">{{ date[2] }}</span>
                        </div>
                    </div>
                    <ul class="widget-49-meeting-points" style="list-style-type: circle;">
                        <li class="widget-49-meeting-item">{{ _('City:') }}<span>{{ date[3] }}</span></li>
                        <li class="widget-49-meeting-item">{{ _('District:') }}<span>{{ date[4] }}</span></li>
                        <li class="widget-49-meeting-item">{{ _('Category:') }}<span>{{ date[5] }}</span></li>
                        <li class="widget-49-meeting-item">{{ _('Email:') }}<span>{{ date[9] }}</span></li>
                        <li class="widget-49-meeting-item">{{ _('Phone:') }}<span>{{ date[6] }}</span></li>
                    </ul>
                    <div class="widget-49-meeting-action" style="margin-top: 15px;">
                             {% if not request.url_rule.endpoint == 'user_account_app.user_account' %}
                                <button type="button" class="show-modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" value="{{ date[7] }}" id="offer-show-modal"><span class="bn39span">Offer</span></button>
                            {% endif %}
                        {% if request.url_rule.endpoint == 'user_account_app.user_account' %}
                        <a href="{{ url_for('user_account_app.update_post_request', post_id=date[7]) }}" class="btn btn-outline-info btn-sm" id="change-post-opponent">CHANGE</a>
                        <a href="{{ url_for('user_account_app.delete_post_request', post_id=date[7]) }}" class="btn btn-outline-danger btn-sm" id="delete-post-opponent">DELETE</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
      {% include 'finder/content2.html' %}
</div>
</div>
 {% endfor %}

{% include 'finder/modal_offer.html' %}

