{% for offer in offer_data %}
    {% if date[7] == offer[10] %}
     <div class="col-lg-4">
         <div class="custom-model-main">
                    <div class="custom-model-inner">
                     <div class="custom-model-wrap">
                    <div class="pop-up-content-wrap">
                        <h6><i class="fa fa-envelope" aria-hidden="true" style="margin-right: 5px;"></i>{{ _('Message') }}</h6><hr>
                        {% if offer[13] == None %}
                      <p>{{ _('Empty') }}</p>
                        {% else %}
                      <p>{{ offer[13] }}</p>
                        {% endif %}
                        </div>
                      </div>
                     </div>
                 <div class="bg-overlay"></div>
             </div>
         <div class="container">
              <div class="card card-margin" style="box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;">
            <div class="card-header no-border">
                <h5 class="card-title">{{ _('Opponent') }}</h5>
            </div>
                <div class="card-waiting">
                    {% if offer[12] == True %}
                    <h6 class="card-title" id='alert-accept' style="color: orange; text-align: center;">{{ _('Accept') }}</h6>
                    {% else %}
                    <h6 class="card-title" id='alert-offer' style="color: orange; text-align: center;">{{ _('Offer') }}</h6>
                    {% endif %}
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">{{ offer[1] }}</span>
                            <span class="widget-49-date-month">{{ offer[0] }}</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">{{ offer[4] }}</span>

                            <span class="widget-49-meeting-time" style="font-size: 16px; color: #555;">{{ offer[2] }}</span>
                        </div>
                    </div>
                    <ul class="widget-49-meeting-points" style="list-style-type: circle;">
                        <li class="widget-49-meeting-item">{{ _('City:') }}<span>{{ offer[6] }}</span></li>
                        <li class="widget-49-meeting-item">{{ _('District:') }}<span>{{ offer[7] }}</span></li>
                        <li class="widget-49-meeting-item">{{ _('Category:') }}<span class="{% if offer[8] == 'AMATEUR' %}
                        badge bg-light text-dark {% elif offer[8] == 'M1' %} badge bg-dark {% elif offer[8] == 'M2' %}
                         badge bg-primary {% elif offer[8] == 'M3' %} badge bg-success text-dark {% else %} badge bg-danger
                        {% endif %}" >{{ offer[8] }}</span></li>
                        <li class="widget-49-meeting-item">{{ _('Email:') }}<span>{{ offer[5] }}</span></li>
                        <li class="widget-49-meeting-item">{{ _('Phone:') }}<span>{{ offer[3] }}</span></li>
                    </ul>
                    <div class="widget-49-meeting-action" style="margin-top: 15px;">
                        {% if offer[12] == False %}
                        {% if request.url_rule.endpoint == 'user_account_app.user_account' %}
                        <a href="{{ url_for('user_account_app.cancel_post_offer', post_id=offer[11]) }}" class="btn btn-outline-danger btn-sm" id="cancel-post-opponent">CANCEL</a>
                        {% endif %}
                        {% if request.url_rule.endpoint == 'user_account_app.user_account' %}
                        <a href="{{ url_for('user_account_app.accept_post_offer', post_id=offer[11]) }}" class="btn btn-outline-success btn-sm" id="agree-post-opponent"> ACCEPT</a>
                        {% endif %}

                        {% endif %}
                    </div>
                </div>
         </div>
     </div>
        </div>
        {% endif %}
             {% endfor %}
         </div>
     </div>


 <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">
</script>


