<div class="modal" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" style="background-image: linear-gradient(135deg, #008aff, #86d472); color: white;">
        <span class="close" style="margin-left: auto;">&times;</span>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _('New Offer') }}</h5>
      </div>
      <div class="modal-body">
        {% include 'user_post_offer.html' %}
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<script>
let modal = document.getElementById("myModal");
let blockBtn = document.getElementById("blockBtn");
let allButtons = document.getElementsByClassName("show-modal-btn");
let span = document.getElementsByClassName("close")[0];

for (const btn of allButtons) {
  btn.addEventListener('click', function() {
  let userPostId = document.getElementById("id-opponent-user-cart");
  userPostId.value = btn.value;
  modal.style.display = "block";
  {% for date2 in offer_data %}
    var id_del = `{{ date2[10] }}`;
     if ( id_del === btn.value ) {
        let hiddenIdOffer = document.getElementById("hidden-id");
        hiddenIdOffer.value = id_del;
    }
  {% endfor %}

  });
}

<!--let modal = document.getElementById("myModal");-->
<!--let blockBtn = document.getElementById("blockBtn");-->
<!--let blockBtnReload = document.getElementById("blockBtn");-->
<!--let allButtons = document.getElementsByClassName("show-modal-btn");-->
<!--let span = document.getElementsByClassName("close")[0];-->
<!--let count = 0-->

<!--for (const btn of allButtons) {-->
<!--  btn.addEventListener('click', function() {-->
<!--  let userPostId = document.getElementById("id-opponent-user-cart");-->
<!--  userPostId.value = btn.value;-->
<!--  modal.style.display = "block";-->
<!--  let queueQuantity = document.getElementsByClassName("badge rounded-pill bg-info text-dark");-->
<!--  let messageOffer = document.getElementById("message-for-offer");-->


<!--  {% for date2 in offer_data %}-->
<!--    var btnNum = btn.value-->
<!--    var id_del = `{{ date2[10] }}`;-->
<!--     if ( id_del === btnNum) {-->
<!--          let sizeQ = queueQuantity[count].text;-->
<!--          let parseSize = parseInt(sizeQ);-->
<!--          if (parseSize > 1) {-->
<!--              modal.remove();-->
<!--              window.location.reload();-->
<!--              messageOffer.className = "visually-visible";-->
<!--              messageOffer.style.color = "#ffffff";-->
<!--              messageOffer.textContent = "You need to wait for the answer of the opponent on the last offer.";-->
<!--              }-->
<!--          let hiddenIdOffer = document.getElementById("hidden-id");-->
<!--          hiddenIdOffer.value = id_del;-->
<!--    } else {-->
<!--        count = 0-->
<!--        blockBtnReload.addEventListener('click', function() {-->
<!--        window.location.reload();-->
<!--        });-->
<!--      }-->
<!--   count += 1-->
<!--  {% endfor %}-->
<!--  });-->
<!--}-->

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
