{% extends 'base.html' %}
{% block title -%}
    {{ _('Tournaments') }}
{%- endblock %}
{% block body -%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/finder.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <div class="container ls">
        <h1>{{ _('Tournamets') }}</h1>
        <hr>
<div class="col-md-2" style="padding: 10px;">
    <div class="card bg-dark text-white">
     <h3 class="card-title text-center">
       <div class="d-flex flex-wrap justify-content-center mt-2">
        <a><span class="badge hours"></span></a> :
        <a><span class="badge min"></span></a> :
        <a><span class="badge sec"></span></a>
       </div>
      </h3>
    </div>
</div>
        <div class="alert alert-info" role="alert" style="width:60%;text-align: center;">
            <h5 class="visually-visible"
                style="text-align: center; color: lightslategray;">{{ _('Find a tournament') }}</h5>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <h1 class="display-6">{{ messages[0] }}</h1>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    {% include 'finder/common_body_content.html' %}
    {% include 'finder/content.html' %}

    {% for table in tournaments %}
        <div class="container">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin-top: 20px;">
                <div class="star" id="star-rating" style="padding-left: 20px;"
                     data-bs-toggle='tooltip' data-bs-placement='top'
                     title="The category of tournament: {{ table[3] }}">
                    {% if table[3] == 'PRO' %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    {% elif table[3] == 'M1' %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    {% elif table[3] == 'M2' %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif table[3] == 'M3' %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif table[3] == 'AMATEUR' %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% else %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                </div>
                <div class="card-header">{{ table[4] }}</div>
                <div class="card-body">
                    <h5 class="card-title">{% if count_members[table[11]] >= table[8] | int %}
                        {{ _('Closed') }} {% else %} {{ _('Open') }} {% endif %}</h5>
                    <div class="card-waiting">
                    <span class="badge rounded-pill bg-info text-dark" id="m-quantity" data-bs-toggle='tooltip'
                          data-bs-placement='top'
                          title="{{ _('number of members:') }} {{ count_members[table[11]] }}">{{ _('Members:') }} {{ count_members[table[11]] }}</span>
                        <span class="badge rounded-pill bg-danger text-dark" id="max-quantity"
                              data-bs-placement='top'
                              title="{{ _('max number of members:') }} {{ table[8] }}">{{ _('Max:') }} {{ table[8] }}</span>
                        <span class="badge rounded-pill bg-info text-dark" id="mem-district"
                              data-bs-placement='top'
                              title="{{ _('location:') }} {{ table[5] }}, {{ table[6] }}">{{ _('District:') }} {{ table[6] }}</span>
                    </div>
                    <div class="card-deck">
            <span class="badge rounded-pill bg-info text-dark"
                  data-bs-placement='top' title="{{ _('name of organizer') }}">{{ table[9] }}</span>
                        <span class="badge rounded-pill bg-danger text-dark"
                              data-bs-placement='top' title="{{ _('phone number of organizer') }}">{{ table[7] }}</span>
                        <span class="badge rounded-pill bg-danger text-dark"
                              data-bs-placement='top' title="{{ _('time of tournament') }}">{{ table[2] }}</span>
                        <span class="badge rounded-pill bg-danger text-dark"
                              data-bs-placement='top'
                              title="{{ _('date of tournament') }}">{{ table[1] }}-{{ table[0] }}</span>
                    </div>

                    <h5 class="card-title">{{ _('The list of all the players of the') }} {{ table[4] }} {{ _('tournament') }}</h5>
                    <ol class="lst-opponents">
                        {% for member in members %}
                            {% if member.user_member_id == table[11] %}
                                <li>{{ member.tour_member_name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    {% if not count_members[table[11]] >= table[8] | int %}
                        <div class="widget-49-meeting-action" style="margin-top: 15px; float: right;">
                            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" value="{{ table[11] }}" id="join-tournament">JOIN
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% include 'finder/modal_join.html' %}
    <script>
$(document).ready(function() {
    setInterval( function() {
    var hours = new Date().getHours();
    $(".hours").html(( hours < 10 ? "0" : "" ) + hours);
    }, 1000);
    setInterval( function() {
    var minutes = new Date().getMinutes();
    $(".min").html(( minutes < 10 ? "0" : "" ) + minutes);
    },1000);
    setInterval( function() {
    var seconds = new Date().getSeconds();
    $(".sec").html(( seconds < 10 ? "0" : "" ) + seconds);
    },1000);
    });
</script>
    <script>
        function doDate() {
            let currentDate = document.getElementById('clock');
            let current = new Date();
            currentDate.innerHTML = `<b>${current}</b> `;
        }

        setInterval(doDate, 1000);
    </script>
{%- endblock %}
