
<footer class="text-center text-white" style="background: url('/static/img/bl-squash.jpg');">
  <div class="container p-4">
    <section class="footer-ref">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-5">
          <div class="ratio ratio-16x9">
            <iframe
              class="shadow-1-strong rounded"
              src="https://www.youtube.com/embed/1HAEX1c6wII"
              title="YouTube video"
              allowfullscreen
            ></iframe>
              <address id="contact">
                <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<a class='contact-ref' href="http://lvivsquashteam@gmail.com">lvivsquashteam@gmail.com</a><br/>
                <i class="fa fa-comment-o"></i>&nbsp;&nbsp;<a class='contact-ref' href="http://m.me/LvivSquashTeam">Facebook messenger</a><br/>
                 <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;+38(063) 429 70 01<br/>
                <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a class='contact-ref' href="http://fb.me/LvivSquashTeam">Facebook</a><br/>
                </address>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 All rights reserved. The use of materials from this site is possible only with reference to the source.
    <a class="text-white" href="https://squashteam.lviv.ua/"></a>
  </div>
</footer>
