
<footer class="text-center text-white" style="background-color: #515050;">
  <div class="container pt-4">
    <section class="mb-4">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/oleg.matskiv.58"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/oleg-matskiv-30b872205/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/Alpaca00/alpaca_web"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.youtube.com/channel/UCvgH0FBxUiJ-qyw_sRnLJZg"
        role="button"
        data-mdb-ripple-color="dark">
        <i class="fab fa-youtube" aria-hidden="true"></i>
      </a>
    </section>
  </div>

  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2); font-size: 12px;">
    {{ _('Copyright © 2021. All rights reserved.') }}
    <a class="text-dark" href="#"></a>
  </div>
</footer>
